.md-circle {
    position: relative;
    display: flex;
    padding: .4rem;
    border-radius: 50%;
    z-index: 0;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: .08;
        transform: translate(-50%, -50%) scale(0);
        transform-origin: center;
        border-radius: 50%;
        z-index: -1;
        transition: transform .3s ease, opacity .3s ease;
    }

    &:hover:after {
        opacity: .08;
        transform: translate(-50%, -50%) scale(1);
    }

    &-dark, &-light { @extend .md-circle }

    &-dark:after { background-color: #000 }
    &-light:after { background-color: #fff }
}