.alert {
	display: flex;
	align-items: center;
	padding: $space-s $space-m;

	@extend .rounded;

	i { margin-right: $space-s }
	
	&-error, &-warning, &-info { @extend .alert }

	&-error {
		background-color: $color-error;
		color: $color-error__contrast;
	}

	&-success {
		background-color: $color-success;
		color: $color-success__contrast;
	}

	&-warning {
		background-color: $color-error;
		color: $color-error__contrast;
	}

	&-info {
		background-color: $color-error;
		color: $color-error__contrast;
	}
}