.app-layout {
    &.submenu-open {
        .v-submenu {
            transform: translateX(0);

            &__headline svg { transform: rotate(0deg) }
        }

        & + main { margin-left: calc(#{$space-xl} + 260px) }
    }
}

.ink-clear { text-decoration: none }