body {
	&::-webkit-scrollbar-track, & *::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
		background-color: #F5F5F5;
		border-radius: $block-border__radius;
	}

	&::-webkit-scrollbar, & *::-webkit-scrollbar {
		width: 10px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb, & *::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #ccc;
	}
}