.react-datepicker-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 ($space-m * -1);
} 

.react-datepicker {
    &__input-container {
        width: 100%;
        height: 100%;

        input {
            width: 100%;
            height: 100%;
            border: none;
            text-align: center;
            cursor: pointer;
            transition: background-color .3s ease;

            &:hover { background-color: darken(white, 10%) }
        }
    }

    &__triangle { border-bottom-color: $color-secondary !important }

    &__month-container &__header {
        background-color: $color-secondary;
        border-bottom: none;
    }

    &__header &__current-month,
    &__day-names &__day-name { color: $color-secondary__contrast }

    &__week &__day--selected {
        background-color: $color-primary;
        &:hover { background-color: darken($color-primary, 10%) }
    }
}