.editable-field {
	position: relative;
	display: inline-block;
	cursor: pointer;
	min-width: 40px;
	overflow: hidden;

	&.light {
		&:before { background-color: rgba(255, 255, 255, 0) }
		&:hover:before, &.is-active { background-color: rgba(255, 255, 255, .2) }
	}

	&.dark {
		&:before { background-color: rgba(0, 0, 0, .0) }
		&:hover:before, &.is-active { background-color: rgba(0, 0, 0, .05) }
	}

	&:hover:before, &.is-active { background-color: rgba(0, 0, 0, .05) }

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: .5rem;
		background-color: rgba(#000, 0);
		transition: background-color .3s ease;
		pointer-events: none;
	}

	&.is-active {
		& > *:not(input):not(textarea) { visibility: hidden }

		input:not([type="submit"]):not([type="checkbox"]).editable-field__input,
		textarea.editable-field__input {
			display: inherit;
			max-width: 100%;
		}
	}

	&__value, input:not([type="submit"]):not([type="checkbox"]).editable-field__input,
	textarea.editable-field__input {
		font-size: inherit;
	}

	&__value { padding: 0 $space-s }

	textarea.editable-field__input {
		resize: none;
		padding-top: inherit;
    	padding-bottom: inherit;
	}

	input:not([type="submit"]):not([type="checkbox"]).editable-field__input, textarea.editable-field__input,
	.editable-field__value, .editable-field__value > * {
		font-size: inherit;
		color: inherit;
		font-weight: inherit;
		text-transform: inherit;
		text-align: inherit;
		background-color: inherit;
	}

	input:not([type="submit"]):not([type="checkbox"]).editable-field__input, textarea.editable-field__input {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		outline: none;
		width: 100%;
		height: 100%;
		border: none;
		display: none;
		padding-left: $space-s;
		padding-right: $space-s;
	}
}