.menu-dialog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;

    &__to-right,
    &__to-left {
        @extend .menu-dialog;
        transition: background-color .3s ease;

        &.is-open {
            z-index: 20;
            
            .menu-dialog__content {
                bottom: 0;
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    &__to-right &__content { right: 0 }

    &__to-left &__content { left: 0 }

    &__content {
        position: absolute;
        bottom: 10px;
        opacity: 0;
        background-color: #fff;
        color: #000;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
	    border-radius: $block-border__radius / 4;
        transform: translateY(100%);
        overflow: hidden;
        pointer-events: none;
        transition: opacity .3s ease, bottom .3s ease;

        & > .item {
            padding: $space-s;
            cursor: pointer;
            transition: background-color .3s ease;

            &:hover { background-color: darken(#fff, 5%) }
        }
    }
}