.flex {
	@extend .flex;

	&-row, &-column { @extend .flex }

	&-row { flex-direction: row }
	&-column { flex-direction: column }

	&.wrap { flex-wrap: wrap }
}

@include medias('flex-row') { flex-direction: row }
@include medias('flex-column') { flex-direction: column }

$flexs: (
	center: center,
	around: space-around,
	between: space-between,
	start: flex-start,
	end: flex-end
);

@each $prefix, $value in $flexs {	
	.justify-#{$prefix} { justify-content: #{$value} }
	.items-#{$prefix} { align-items: #{$value} }

	@include medias('justify-#{$prefix}') { justify-content: #{$value} }
	@include medias('items-#{$prefix}') { align-items: #{$value} }
}