.grid {
    display: flex;
    flex-wrap: wrap;

    @each $prefix, $value in $sizes {
        &-#{$prefix} { @extend .grid }

        $rythm: $value / 2;

        &-#{$prefix} {
            margin: -#{$rythm};

            & > *[class*="col-"] {
                margin-top: $rythm;
                margin-bottom: $rythm;
                padding-left: $rythm;
                padding-right: $rythm;
            }
        }
    }
}

@for $i from 0 through 11 {
    $prefix: $i + 1;
    $value: #{($prefix / 12) * 100};

    .col-#{$prefix} {
        height: auto;
        flex: 0 0 #{$value}#{'%'};
    }

    @include medias('col-#{$prefix}') { flex: 0 0 #{$value}#{'%'} }
}