@mixin media-xl($class) {
    .xl\:#{$class}:not([class~="m:"]):not([class~="l:"]):not([class~="s:"]) {
        @media (min-width: #{$screen-xl}) { @content; }
    }
}

@mixin media-l($class) {
    .l\:#{$class}:not([class~="m:"]):not([class~="s:"]) {
        @media (min-width: #{$screen-l}) { @content; }
    }
}

@mixin media-m($class) {
    .m\:#{$class}:not([class~="s:"]) {
        @media (min-width: #{$screen-m}) { @content; }
    }
}

@mixin media-s($class) {
    .s\:#{$class} {
        @media (min-width: #{$screen-s}) { @content; }
    }
}

@mixin medias($class) {
    @include media-xl($class) { @content; }
    @include media-l($class) { @content; }
    @include media-m($class) { @content; }
    @include media-s($class) { @content; }
}