@mixin getBorders($extend) {
    &-p, &-pl, &-pd, &-pc,
    &-s, &-sl, &-sd, &-sc { @extend #{$extend} }

    &-p { border-color: $color-primary }
    &-pl { border-color: lighten($color-primary, 10%) }
    &-pd { border-color: darken($color-primary, 10%) }
    &-pc { border-color: $color-primary__contrast }

    &-s { border-color: $color-secondary }
    &-sl { border-color: lighten($color-secondary, 10%) }
    &-sd { border-color: darken($color-secondary, 10%) }
    &-sc { border-color: $color-secondary__contrast }
}

.border {
    &-g {
        border: 1px solid $border__color;
        @include getBorders('.border-g')
    }

    &-v {
        border-top: 1px solid $border__color;
        border-bottom: 1px solid $border__color;
        @include getBorders('.border-v')
    }

    &-h {
        border-left: 1px solid $border__color;
        border-right: 1px solid $border__color;
        @include getBorders('.border-h')
    }

    &-t {
        border-top: 1px solid $border__color;
        @include getBorders('.border-t')
    }

    &-r {
        border-right: 1px solid $border__color;
        @include getBorders('.border-r')
    }

    &-b {
        border-bottom: 1px solid $border__color;
        @include getBorders('.border-b')
    }
}