.md-surface {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;

  /*&:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }*/

  & > * { pointer-events: none }

  &.dark .ripple { background-color: #000 } 
}

.ripple {
  position: absolute;
  background-color: #fff;
  opacity: .1;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  z-index: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 1s cubic-bezier(0.15, 0.7, 0.6, 1), opacity .2s linear;
}

//cubic-bezier(0.1, 0.6, 0.5, 1)