/********************
* Text
*/

$transforms: uppercase, capitalize, lowercase;
$decorations: underline, wavy, dashed, dotted, double, line-through, overline;
$aligns: center, left, right, end, start, justify;

@each $transform in $transforms {
  .#{$transform} { text-transform: $transform }
}

@each $decoration in $decorations {
  .#{$decoration} { text-decoration: $decoration }
}

@each $align in $aligns {
  .align-#{$align} { text-align: $align }
  @include medias('align-#{$align}') { text-align: $align }
}